snippet echo "echo"
<%= ${1:variable} %>
endsnippet

snippet end "end (ERB)"
<% end %>
endsnippet

snippet foreach "Creates a block"
<% ${1:variable}.each do |${2:iterator}| %>
  ${3:body}
<% end %>
endsnippet
